
@font-face {
    font-family: "Roboto";
    font-style: normal;
    src: url("fonts/Roboto-Medium.ttf");
}

body {
    padding: 0;
    max-width: 1920px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    color: #333333;
    line-height: 23px;
    background-color: #FFFBF2;
    box-sizing: content-box;
}

.wrapper {
    max-width: 1214px;
    margin: 0 auto;
}

.button {
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 20px 12px 20px;
    background-color: #E73E19;
    outline: 0;
    border: none;
    cursor: pointer;
}

.button:hover {
    background-color: #a72205;
}

.navigation {
    padding: 0;
    border-bottom: 2px solid #4f4f4f;
}

.navigation__list {
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

.navigation__link {
    color: #333333;
    text-decoration: none;
}

.navigation__link:hover {
    color: #8f3030;
}

.social {
    display: flex;
    justify-content: space-between;
}

.social__icon-fb {
    margin-right: 15px;
}

.social__icon-fb:hover {
    background-color: white;
    border-radius: 50%;
} 

.social__icon-inst:hover {
    background-color: white;
    border-radius: 20px;
}

.button--navigation {
    padding: 13px 13px 13px 13px;
    background-color: transparent;
    border: 1px solid #E73E19;
    cursor: pointer;
}

.button--navigation:hover {
    color: white;
    background-color: #E73E19;
}

.hero {
    padding-bottom: 118px;
}

.hero__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 275px 1fr 58px 190px 50px;
    grid-template-areas: "text-1 photo"
                         "title photo"
                         "text-2 photo"
                         "icon photo"
                         "button photo";
    column-gap: 45px;    
}

.hero__info {
    width: 590px;
    padding: 0;
    padding-top: 245px;
}
.hero__text--one {
    grid-area: text-1;
    align-self: flex-end;
}
.hero__text--two {
    grid-area: text-2;
}
.hero__text {
    color: #828282;
    margin-top: 23px;
}

.hero__text-wrapper {
    grid-area: icon;
    display: flex;
    margin-top: 23px;
    margin-bottom: 45px;
    justify-content: space-between;
}

.icon-location {
    height: 57px;
    background-image: url("img/icon-location-marker.png");
    background-repeat: no-repeat;
    background-position: 0 -5px;
}

.icon-date {
    background-image: url("img/icon-date-marker.png");
    background-repeat: no-repeat;
    background-position: 0 -5px;
    margin-left: 58px;
}

.hero__text-location {
    display: inline-block;
    margin-left: 55px;
    padding-top: 10px;
}

.hero__text-date {
    display: inline-block;
    margin-left: 70px;
    padding-top: 10px;
}
.button--hero {
    grid-area: button;
    width: 324px;
    padding: 0;
}
.hero__title {
    grid-area: title;
    margin: 0;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    text-transform: uppercase;
}

.hero__image {
    grid-area: photo;
    justify-self: end;
    width: 500px;
    position: relative;
    padding-top: 95px;
}

.hero__photo {
    position: relative;
    border-radius: 198.5px 198.5px 0 0;
}

.hero__image::after{
    content: "";
    position: absolute;
    display: inline-block;
    width: 80%;
    height: 592px;
    border: 1px solid #4f4f4f;
    border-radius: 198.5px 198.5px 0 0;
    left: 23px;
    margin-top: 13px;
    z-index: -1;
}

.advantages {
    padding-top: 206px;
    padding-bottom: 229px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #F2EBE3;
}

.advantages__title {
    color: white;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    margin-bottom: 64px;
}

.advantages__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.advantages__image {
    position: relative;
    z-index: 1;
}

.advantages__image::after {
    content: "";
    position: absolute;
    left: -16px;
    top: -21px;
    display: inline-block;
    width: 100%;
    height: 442px;
    border: 1px solid #FFFBF2;
    box-sizing: border-box;
    z-index: -1;
}

.advantages__list {
    position: relative;
    width: 320px;
}

.advantages__item {
    color: white;
    margin-bottom: 25px;
    font-weight: 400;
    line-height: 23px;
}

.list-marker {
    margin-top: 20px;
    left: -80px;
    width: 57px;
    height: 57px;
    position: absolute;
    background-image: url("img/list-marker.png");
}

.classes {
    padding-top: 206px;
    padding-bottom: 50px;
}

.classes__title {
    color: #4f4f4f;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    margin-bottom: 64px;
}

.classes__video {
    position: relative;
    text-align: center;
}

.classes__video::after {
    content: "";
    position: absolute;
    left: 23px;
    top: 45px;
    display: inline-block;
    width: 100%;
    height: 628px;
    border: 1px solid #333333;
    z-index: -1;
}

.courses {
    padding-top: 206px;
    padding-bottom: 140px;
}

.courses__title {
    color: #4f4f4f;
    text-transform: uppercase;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    text-align: center;
    margin-bottom: 64px;
}

.courses__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.courses__day {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 62px;
    padding-top: 63px;
    padding-right: 49px;
    padding-bottom: 57px;
    color: white;
    width: 461px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #F2EBE3;
    border-radius: 100px 100px 0px 0px;
}

.day-one {
    position: relative;
}

.day-one__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 500;
}

.day-one__list {
    padding: 0;
    margin-bottom: 40px;
    width: 347px;
    list-style: none;
}

.day-two {
    position: relative;
}

.day-two__title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 50px;
    font-weight: 500;
}

.day-two__list {
    padding: 0;
    list-style: none;
}

.button--courses {
    width: 236px;
    padding: 15px;
    margin-top: 83px;
}

.button--courses-two {
    padding: 15px;
    width: 236px;
    margin: 0;
    margin-top: 53px;
}

.day-one::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid #715F5B;
    border-radius: 100px 100px 0px 0px;
    z-index: -1;
    top: -20px;
    left: 23px;
}

.day-two::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid #715F5B;
    border-radius: 100px 100px 0px 0px;
    z-index: -1;
    top: -20px;
    left: 23px;
}

.photo-gallery {
    padding-top: 206px;
    padding-bottom: 106px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #F2EBE3;
}

.photo-gallery__wrapper {
    max-width: 1278px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo-gallery__image {
    margin-bottom: 15px;
    margin-left: 15px;
}

.promotion {
    position: relative;
    padding-top: 206px;
    padding-bottom: 143px;
    background-image: url("img/promo-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.promotion__wrapper::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), rgba(242, 235, 227, 0.6);
    z-index: 1;
}

.promotion__wrapper {
    max-width: 1214px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.promotion__title {
    margin: 0;
    padding-bottom: 23px;
    font-size: 50px;
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    border-bottom: 1px solid white;
    z-index: 2;
    line-height: 52px;
    text-align: center;
}

.button--promo {
    margin-top: 23px;
    align-self: center;
    cursor: pointer;
    z-index: 2;
}

.promotion__mark {
    margin-top: 23px;
    color: white;
    align-self: center;
    z-index: 2;
}

.author {
    padding-top: 206px;
    padding-bottom: 129px;
}

.author__title {
    margin: 0;
    padding-bottom: 23px;
    font-size: 50px;
    line-height: 52px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.author__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.author__info {
    margin-top: 72px;
    width: 448px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.author__info-text {
    margin: 0;
}

.author__photo {
    position: relative;
}

.author__photo::after {
    content: "";
    position: absolute;
    display: inline-block;
    left: 23px;
    top: 12px;
    width: 100%;
    height: 592px;
    border: 1px solid #828282;
    border-radius: 198.5px 198.5px 0px 0px;
    z-index: -1;
}

.author__photo-image {
    border-radius: 198.5px 198.5px 0px 0px;
}

.reviews {
    padding-top: 156px;
    padding-bottom: 78px;
}

.reviews__title {
    margin: 0;
    margin-bottom: 73px;
    padding-bottom: 23px;
    font-size: 50px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
}

.reviews__video {
    position: relative;
    margin-bottom: 84px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 122px;
    row-gap: 23px;
}

.reviews__wrapper {
    display: flex;
    flex-direction: column;
}

.button--reviews {
    width: 313px;
    padding: 15px;
    align-self: center;
}
.reviews__video-1,
.reviews__video-2,
.reviews__video-3,
.reviews__video-4 {
    position: relative;
}
 .reviews__video-1::after {
    content: "";
    position: absolute;
    display: inline-block;
    left: -23px;
    top: -13px;
    width: 540px;
    height: 284px;
    border: 1px solid #828282;
    z-index: -1;
}

.reviews__video-2::after {
    content: "";
    position: absolute;
    display: inline-block;
    left: 23px;
    top: -13px;
    width: 540px;
    height: 284px;
    border: 1px solid #828282;
    z-index: -1;
}

.reviews__video-3::after {
    content: "";
    position: absolute;
    display: inline-block;
    left: -23px;
    top: 13px;
    width: 540px;
    height: 284px;
    border: 1px solid #828282;
    z-index: -1;
}

.reviews__video-4::after {
    content: "";
    position: absolute;
    display: inline-block;
    left: 23px;
    top: 13px;
    width: 540px;
    height: 284px;
    border: 1px solid #828282;
    z-index: -1;
}
@media (max-width: 1288px) {
    .classes__video::after {
        display: none;
    }
    .photo-gallery__wrapper {
        justify-content: center;
    }
}
@media (max-width: 1240px) {
    .photo-gallery__wrapper {
        justify-content: center;
    }
    .reviews__video {
        grid-template-columns: 1fr;

    } 
    .reviews__wrapper {
        align-items: center;
    }
    .courses__list {
        justify-content: center;
    }
    .day-one {
        margin-bottom: 50px;
    }
    .page-header {
        margin-left: 10px;
        margin-right: 10px;
    }

    .navigation__list {
        margin: 0;
        flex-wrap: wrap;
    }
    .author__wrapper {
        justify-content: space-evenly;
    } 
}
@media screen and (max-width: 835px) {

    .hero__info {
        margin-left: 10px;
        width: 520px;
        padding-top: 95px;
    }
    .hero__wrapper {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 53px 1fr 604px 35px 116px 50px;
        grid-template-areas: "text-1"
                             "title"
                             "photo"
                             "text-2"
                             "icon"
                             "button";
        column-gap: 45px;    
    }
    .hero__image {
        justify-self: center;
        padding-top: 0;
    }
    .hero__text--two {
        text-align: center;
    }
    .hero__text-wrapper {
        justify-content: space-evenly;
        margin-bottom: 0;
    }
    .button--hero {
        justify-self: center;
    }
    
    .author__wrapper {
        justify-content: center;
    }
} 
